* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d00435;
}

main {
  position: relative;
}

header {
  color: #fff;
}

section {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

img {
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: #4c6ef5;
}
.container {
  max-width: 1400px;
  min-width: 1240px;
  margin: 0 auto;
}

.flex-group {
  display: flex;
  justify-content: space-between;
}
.flex-2d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}
.margin-center {
  margin: 0 auto;
}
.grid-6x2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
footer {
  font-family: sans-serif;
  background-color: rgb(237, 223, 223);
}
